body {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	font-family: "Roboto", sans-serif;	
	text-transform: uppercase;
	color: #000000;
}
.clearfix {
	content: "";
	display: table;
	clear: both;
}
.row {
	width: 1200px;
	margin: 0 auto;
	display: block;
	background-color: black;
}
.main-container {
	width: 1200px;
	margin: 0 0 30px 0;
	padding: 80px 0 0 0;
	background-color: grey;
}
.main-navigation {
	width: 310px;
	float: left;
}
.block-former {
	background-color: #ffffff;
	position: relative;
}
.block-former::before {
	display: block;
	content: "";
	height: 7px;
}
.block-name {
	text-align: center;
	margin: 16px;
	font-size: 32px;
	font-weight: 400;
	line-height: 42px;
	height: 40px;
}
/*------------ Shadow ------------*/
.shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.shadow-hv {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);	
}

.shadow-hv:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


/*------====== MENU ======------*/
.main-menu {
	width: 310px;
	min-height: 310px;
	margin: 0 0 10px 0;
	font-size: 18px;
}
.menu-conteiner {
  width: 150px;
  height: 150px;
	margin: 0 10px 10px 0;
  float: left;
}
.menu-conteiner:nth-child(1) {
	width: 310px;
	margin-right: 0;
	background: #2196F3 url('../img/ic_portrait_48px.svg') no-repeat 50% 50%;
}
.menu-conteiner:nth-child(1):hover {
	background-color: #1976D2;
}
.menu-conteiner:nth-child(2) {
	background: #FFC107;		
}
.menu-conteiner:nth-child(2):hover {
	background-color: #FFA000; 
}
.menu-conteiner:nth-child(3) {
	margin-right: 0;
	background-color: #F44336;
}
.menu-conteiner:nth-child(3):hover {
	background-color: #D32F2F;
}
.home {

}
.avatar {
	width: 310px;
	height: 150px;
	text-align: center;
}
.link-btn {
	width: 150px;
	height: 150px;
	display: block;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	text-decoration: none;

	font-size: 20px;
	font-weight: 500;
	color: #ffffff;
}
.link-btn-icon {
	display: block;
	width: 70px;
	height: 70px;
	margin: 0 auto 10px;
	padding: 0;
}
.link-btn img {
	margin: 0;
	padding: 0;
}

.contact-icon {
	background: url('../img/icon/account_box_white_72x72.png') no-repeat 50% 50%;
}

.about-icon {
	background: url('../img/icon/assignment_white_72x72.png') no-repeat 50% 50%;
}
/*------====== CALENDAR ======------*/
.calendar__conteiner {
	width: 310px;
	height: 310px;
	background-color: lightgrey;
	margin: 0 0 10px 0;	
	overflow: hidden;
	position: relative;
}
.calendar td {
	padding: 0;
}
.calendar__header {
	position: relative;
	background: #FF7043;
	color: #fff;
	padding: 16px 20px 16px 20px;
	z-index: 1;
}
.change__month {
	float: right;
	margin: 5px 0px 10px 0;
}
.change__month span {
	width: 40px;
	height: 40px;
	display: block;
	float: left;
	text-align: center;
	margin: 0px 8px 0px 8px;
	border-radius: 100%;
}
.change__month span:nth-child(1) {
	background: url("..//img/icon/ic_keyboard_arrow_left_white_24dp_2x.png") no-repeat 50% 50%;
}
.change__month span:nth-child(2) {
	background: url("..//img/icon/ic_keyboard_arrow_right_white_24dp_2x.png") no-repeat 50% 50%;
}
.change__month span:nth-child(1):hover {
	background: #FF8A65 url("..//img/icon/ic_keyboard_arrow_left_white_24dp_2x.png") no-repeat 50% 50%;
}
.change__month span:nth-child(2):hover {
	background: #FF8A65 url("..//img/icon/ic_keyboard_arrow_right_white_24dp_2x.png") no-repeat 50% 50%;
}
.day-nov {
	font-size: 28px;
	font-weight: 400;
	line-height: 30px;
}
.month-nov {
	font-size: 18px;
	line-height: 18px;
	font-weight: 300;
}
.calendar {
	width: 304px;
	min-height: 226px;
	margin: 0 auto;
	background: #fff;
	color: #555;
	border-collapse: collapse;
	border-spacing: 0;
}
.calendar thead {
	color: #BF360C;
	font-weight: 400;
	
}
.calendar thead td {
	padding: 10px 0;
}
.calendar td {
	padding: 6px 10px;
	text-align: center;
}
.calendar tbody td:hover {
	background: #FF7043;
	color: #fff;
	box-shadow: 0 7px 28px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}
.current-day {
	color: #BF360C;
}
.prev-month,
.next-month {
	color: #cacaca;
}

/*------====== SLIDER ======------*/
.news-slider {
	width: 310px;
	height: 150px;
	background-color: lightgrey;
}
.slider-block {
	position: relative;
	background-color: rgba(190,190,190,0.4);
	height: 150px;
	width: 310px;
}
.mask {
   overflow: hidden;
   height: 150px;
}

.slider-block ul {
	margin: 0;
  padding: 0;
  position: relative;
}

.slider-block li {
	width: 310px;  /* Ширина изображения */
  height: 150px; /* Высота изображения */
  position: absolute;
  top: 0px;	/* Исходное положение  (за пределами слайдера) */
  list-style: none;
}

.mask li.firstanimation {
   animation: cycle-1 25s linear infinite;
}

.mask li.secondanimation {
   animation: cycle-2 25s linear infinite;
}

.mask li.thirdanimation {
   animation: cycle-3 25s linear infinite;
}

.mask li.fourthanimation {
   animation: cycle-4 25s linear infinite;
}

.mask li.fifthanimation {
   animation: cycle-5 25s linear infinite;
}

@keyframes cycle-1 {
   0%  { right: 0px; } /* При запуске слайдера, первое изображение уже видимо */
   4%  { right: 0px; } /* Стартовая позиция */
   16% { right: 0px; opacity:1; z-index:0; } /* С 4% до 16 % (3 секунды) изображение видимо */
   20% { right: 325px; opacity: 0; z-index: 0; } /* с 16% до 20% (1 секунды)выход изображения*/
   21% { right: -325px; opacity: 0; z-index: -1; } /* Возвращение на исходную позицию за пределами маски */
   92% { right: -325px; opacity: 0; z-index: 0; }
   96% { right: -325px; opacity: 0; } /* С 96% до 100% (1 секунда) – вход */
   100%{ right: 0px; opacity: 1; }
}

@keyframes cycle-2 {
   0%  { right: -325px; opacity: 0; } /* Исходная позиция за пределами маски */
   16% { right: -325px; opacity: 0; }/* Начало движения с 16% */
   20% { right: 0px; opacity: 1; }
   24% { right: 0px; opacity: 1; }  /* С 20% до 24% (в течении 1 секунды) — вход*/
   36% { right: 0px; opacity: 1; z-index: 0; }   /* С 24% до 36 % (3 секунды) изображение видимо */
   40% { right: 325px; opacity: 0; z-index: 0; } /* С 36% до 40% (1 секунда)— выход */
   41% { right: -325px; opacity: 0; z-index: -1; }   /* Возврат на исходную позицию */
   100%{ right: -325px; opacity: 0; z-index: -1; }
}

@keyframes cycle-3 {
   0%  { right: -325px; opacity: 0; }
   36% { right: -325px; opacity: 0; }
   40% { right: 0px; opacity: 1; }
   44% { right: 0px; opacity: 1; }
   56% { right: 0px; opacity: 1; }
   60% { right: 325px; opacity: 0; z-index: 0; }
   61% { right: -325px; opacity: 0; z-index: -1; }
   100%{ right: -325px; opacity: 0; z-index: -1; }
}

@keyframes cycle-4 {
   0%  { right: -325px; opacity: 0; }
   56% { right: -325px; opacity: 0; }
   60% { right: 0px; opacity: 1; }
   64% { right: 0px; opacity: 1; }
   76% { right: 0px; opacity: 1; z-index: 0; }
   80% { right: 325px; opacity: 0; z-index: 0; }
   81% { right: -325px; opacity: 0; z-index: -1; }
   100%{ right: -325px; opacity: 0; z-index: -1; }
}
@keyframes cycle-5 {
   0%  { right: -325px; opacity: 0; }
   76% { right: -325px; opacity: 0; }
   80% { right: 0px; opacity: 1; }
   84% { right: 0px; opacity: 1; }
   96% { right: 0px; opacity: 1; z-index: 0; }
   100%{ right: 325px; opacity: 0; z-index: 0; }
}
/* Индикатор выполнения */
.progress-bar {
   position: relative;
   top: -5px;
   width: 310px;
   height: 5px;
   background: #000;
   animation: fullexpand 25s ease-out infinite;
}

@keyframes fullexpand {
   /* В этих ключевых кадрах анимация стационарна */
   0%, 20%, 40%, 60%, 80%, 100% { width: 0%; opacity: 0; }

   /* В этих — оживает */
   4%, 24%, 44%, 64%, 84% { width: 0%; opacity: 0.3; }

   /* В этих — плавно заполняется */
   16%, 36%, 56%, 76%, 96% { width: 100%; opacity: 0.7; }

   /* В этих ключевых кадрах индикатор выполнения завершил свой путь */
   17%, 37%, 57%, 77%, 97% { width: 100%; opacity: 0.3; }

   /* В этих ключевых кадрах индикатор выполнения исчезнет, а затем возобновит цикл */
   18%, 38%, 58%, 78%, 98% { width: 100%; opacity: 0; }
}
/*------====== MAIN CONTENT ======------*/


.content-container {
	width: 860px;
	min-height: 1100px;
	float: right;
}
.main-content-block {
	width: 860px;
	min-height: 515px;
	margin: 0 0 30px 0;
}
.main-contant__header {
	margin: 44px 54px 44px 54px;
	padding: 0 0 0 32px;
	border-left: 4px solid #9E9E9E;
}
.about__header{
	border-color: #F44336;
}
.epigraph {
	margin: 30px 54px 30px 54px;
}
.main-c-line::before {
	background-color: #2196F3;
}
.main-c-line {
	border-color: #2196F3;	
}
.contact-c-line::before {
	background: #FFC107; 
}
.contact-c-line {
	border-color: #FFC107;
}
.about-c-line::before {
	background-color: #F44336;	
}
.about-c-line {
	border-color: #F44336;	
}
.experience-c-line::before {
	background-color: #673AB7;	
}
.experience-c-line {
	border-color: #673AB7;	
}
.education-c-line::before {
	background-color: #03A9F4;	
}
.education-c-line {
	border-color: #03A9F4;	
}
.skills-c-line::before {
	background-color: #FFC107;	
}
.skills-c-line {
	border-color: #FFC107;	
}

.project-c-line::before {
	background-color: #2196F3;
}
.project-c-line {
	border-color: #2196F3;	
}

/*------====== WORKBENCH SECTION ======------*/
.workbench-section {
	width: 860px;
	display: flex;
}
.workbench-block {
	display: block;
	width: 415px;
	min-height: 522px;
	float: left;
	margin: 0 30px 0 0;
	min-height: 522px;
	overflow: hidden;
}
.workbench-block:last-child {
	margin: 0;
}
.workbench-block img {
	width: 415px;
	min-height: 210px;
	background: #d9d9d9;
	text-align: center;
	margin: 0;
	display: block;
}
.workbench-block p {
	margin: 5px 0 91px 20px;
	padding: 0 15px 0 15px;
	border-left: 2px solid #aaaaaa;
	min-height: 125px;
	font-size: 20px;
	line-height: 24px;
	font-weight: 300;	
	color: #424242;
}
.card-btn-conteiner {
	position: absolute;
	bottom: 0px;
  border-top: 1px solid #9E9E9E;

}
.go-btn {
	padding: 16px 0 16px 0;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	font-weight: 300;
	font-size: 24px;
	width: 100%;
}
.workbench-block:nth-child(1), .workbench-block:nth-child(1) a {
	color: #3F51B5;
	width: 415px;
}
.workbench-block:nth-child(1) .go-btn:hover {
	background: #3F51B5;
	color: #ffffff;	
}
.workbench-block:nth-child(1) p {
	border-color: #3F51B5;
}
.workbench-block:nth-child(1)::before {
	background: #3F51B5;
}
.workbench-block:nth-child(2), .workbench-block:nth-child(2) a  {
	color: #009688;
	width: 415px;
}
.workbench-block:nth-child(2) .go-btn:hover {
	background: #009688;
	color: #ffffff;	
}
.workbench-block:nth-child(2) p {
	border-color: #009688;
}
.workbench-block:nth-child(2)::before {
	background: #009688;
}
/*------------------------------------*/
/*------====== ABOUT PAGE ======------*/
/*------------------------------------*/
/*------====== QUALIFICATION ======------*/
.qualification {
	display: flex;
	margin: 0 0 30px 0;
	font-weight: 400;
}
.qualification-block {
	width: 269px;
  min-height: 522px;
  margin: 0 26px 0 0;
	display: block;
	float: left;
}
.qualification-block img {
	width: 269px;
	height: 342px;
	background: #d9d9d9;
	text-align: center;
	margin: 0;
	display: block;
}
.qualification-block p {
	margin: 5px 0 81px 20px;
	padding: 0 15px 0 15px;
	border-left: 2px solid #ffffff;
	min-height: 50px;
	font-size: 20px;
	line-height: 24px;
	font-weight: 300;	
	color: #424242;
}
.qualification-block .go-btn {
	width: 270px;
}
.qualification-block:nth-child(1), .qualification-block:nth-child(1) a {
	color: #03A9F4;
}
.qualification-block:nth-child(1) .go-btn:hover {
	background: #03A9F4;
	color: #ffffff;	
}
.qualification-block:nth-child(1) p {
	border-color: #03A9F4;
}
.qualification-block:nth-child(1)::before {
	background: #03A9F4;
}
.qualification-block:nth-child(2), .qualification-block:nth-child(2) a  {
	color: #FFC107;
}
.qualification-block:nth-child(2) .go-btn:hover {
	background: #FFC107;
	color: #ffffff;	
}
.qualification-block:nth-child(2) p {
	border-color: #FFC107;
}
.qualification-block:nth-child(2)::before {
	background: #FFC107;
}
.qualification-block:nth-child(3), .qualification-block:nth-child(3) a {
	color: #3F51B5;
	margin: 0;
}
.qualification-block:nth-child(3) .go-btn:hover {
	background: #3F51B5;
	color: #ffffff;	
}
.qualification-block:nth-child(3) p {
	border-color: #3F51B5;
}
.qualification-block:nth-child(3)::before {
	background: #3F51B5;
}
/*------====== QUALITIES ======------*/
.hobby-and-interest {
	min-height: 266px;
	min-width: 860px;
	margin: 0 0 30px 0;
}
.hobby-and-interest::before {
	background-color: #FF9800;	
}
.hobby-and-interest .block-name{
	color: #FF9800;	
}
.resume-btn-block {
	margin: 0 0 30px 0;
}
.hobby-icon__block {
	margin: 0 59px 30px 59px;
	display: inline-block;
}
.hobby-icon__box {
	width: 106px;
	height: 106px;
	margin: 0px;
	float: left;	
}
.hobby-icon__box:nth-child(1):hover {
		background: #43A047;
}
.hobby-icon__box:nth-child(2):hover {
		background: #FDD835;
}
.hobby-icon__box:nth-child(3):hover {
		background: #00897B;
}
.hobby-icon__box:nth-child(4):hover {
		background: #5E35B1;
}
.hobby-icon__box:nth-child(5):hover {
		background: #F4511E;
}
.hobby-icon__box:nth-child(6):hover {
		background: #00BCD4;
}
.hobby-icon__box:nth-child(7):hover {
		background: #D81B60;
}
.hobby-icon__box:nth-child(8):hover {
		background: #3949AB;
}
.hobby-icon__box:nth-child(9):hover {
		background: #E53935;
}
.hobby-icon__box:nth-child(10):hover {
		background: #FB8C00;
}
.hobby-icon__box:nth-child(11):hover {
		background: #546E7A;
}
.hobby-icon__box:nth-child(12):hover {
		background: #C0CA33;
}
.hobby-icon__box:nth-child(13):hover {
		background: #6D4C41;
}
.hobby-icon__box:nth-child(14):hover {
		background: #7CB342;
}

/*------====== DOWNLOAD RESUME ======------*/
.download-resume {
	width: 860px;
	line-height: 34px;
	background: #01579B;
	display: table-cell;
	font-weight: 600;
	font-size: 32px;
	color: #ffffff;	
}
.download-resume:hover {
	background: #0091EA;
}
/*-----------------------------------------*/
/*------====== EXPERIENCE PAGE ======------*/
/*-----------------------------------------*/
.experience__cont {
	width: 860px;
	margin: 0 0 30px 0;
	font-weight: 400;
}
.experience__cont::before {
	background-color: #673AB7;	
}
.experience__cont .block-name {
	color: #673AB7;
}
.experience__block {
	width: 100%;
	margin: 0 0 70px 0;
	min-height: 300px;
}
.experience__card {
	margin: 0 54px 30px 54px;
	width: 752px;
	min-height: 100px;
	overflow: hidden;
	border-radius: 3px;
	display: flex;
	background-color: #EEEEEE;
}
.time__worked {
	display: block;
	float: left;
 	font-size: 22px;
	color: #ffffff;
	margin: 0 30px 0 0;
	padding: 16px 24px 16px 24px;
	text-align: center;
	background-color: #B0BEC5;
}
.time__education {
	background-color: #BCAAA4;
}
.time__worked hr {
	height: 2px;
	border: none;
	background: #ffffff;
	margin: 10px 16px 10px 16px;
}

.company__info {
	float: right;
	padding: 0 30px 10px 30px;
}
.company__info h4 {
	margin: 16px auto;
	font-size: 24px;
	color: #333;
	font-weight: 400;
}
.company__info h5 {
	margin: 0;
	font-size: 18px;
	color: #777;
	font-weight: 300;
	padding: 0 0 0 16px;
}
 
.experience__cont .go-btn {
	color: #673AB7;
	width: 860px;
}
.experience__cont .go-btn:hover {
	background-color: #673AB7;
	color: #ffffff;
}

/*--------------------------------------*/
/*------====== CONTACT PAGE ======------*/
/*--------------------------------------*/
 
.name_header {
	font-size: 92px;
	line-height: 70px;
	font-weight: 400;
	margin: 0 0 12px 0;
}
.prof_header {
	margin: 0 0 0 4px;
	font-size: 44px;
	line-height: 33px;
	font-weight: 300;
}

.contact__block-name {
	line-height: 34px;
	font-size: 34px;
	font-weight: 500;
	margin: 0;
}
/*------====== FEEDBACK BLOCK ======------*/
.feedback--conteiner {
	width: 860px;
	float: left;
	margin: 0 0 30px 0;	
}
.feedback--block {
	margin: 0 54px 0 54px;
	padding: 32px 0 0 0;
	border: none;
	position: relative;
}

.input__conteiner {
	position: relative;
	margin: 0 0 24px 0;
	padding: 11px 0 0 0;
}
.input-lable {
	color: #1DE9B6;
	position: absolute;
	font-size: 16px;
	top: 20px;
	line-height: 16px;
	-webkit-transition: all 0.3s ease-in-out;
 transition: all 0.2s ease-in-out;
}
.feedback__text-fields:focus ~ .input-lable , .feedback__text-fields:valid ~ .input-lable {
 	color: #1DE9B6;
 	font-size: 14px;
 	line-height: 15px;
 	-webkit-transform: translateY(-20px);
 	transform: translateY(-20px);
}

.feedback__text-fields {
  width: 752px;
  height: 16px;
	padding: 8px 0 8px 0;  
  display: block;
  border: none;
  font-size: 16px;
  border-bottom: 1px solid #1DE9B6;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1DE9B6 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1DE9B6 4%);
  background-position: 50% 0;
  background-size: 0px 100%;
  background-repeat: no-repeat;
  color: #009688;
	line-height: 22px;
	position: relative;
}

.input__conteiner:nth-child(5) .feedback__text-fields {
	min-height: 165px;
	background-size: 0px 103%;
}
.feedback__text-fields:focus, .feedback__text-fields:valid {
 box-shadow: none;
 outline: none;
 background-position: 50% 0;
 background-size: 100% 100%;
}
.input__conteiner:nth-child(5) .feedback__text-fields:focus,
 .input__conteiner:nth-child(5) .feedback__text-fields:valid {
 background-position: 50% 50%;
 background-size: 100% 108%;	
 }

.btn-form {
	display: inline-block;	
  margin: 12px;
  padding: 16px 3em;
  
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: #ECEFF1;
  box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  border: none; 
  font-size: 16px;
  font-weight: 400;
  text-align: center;
	float: right;
}
.btn-form:hover {
  box-shadow: 1px 6px 15px rgba(0,0,0,0.5);
	background: #00C853;
	color: #ffffff;
}
.btn-presed {
	width: 20px;
	height: 20px;
	background: red;
	border-radius: 50%;
	position: absolute;
	top: 2em;
	
	line-height: 10%;
	transition: 0.1s;
}
.btn-form:active .btn-presed {
	width: 500px;
	height: 500px;
}


/*------====== SOCIAL BLOCK ======------*/
.social-conteiner {
	width: 860px;
	float: right;
	margin: 0 0 60px 0;
}
.social-block {
	margin: 0 54px 0px 54px;
	padding: 16px 0px 0 0px;
	border: none;
}

.social-btn {
	background-color: #CFD8DC;
	display: block;
	width: 60px;
	height: 60px;
	float: left;
	margin: 17px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.5);
  border: none;
	border-radius: 100%;
}
.social-btn:hover {
  box-shadow: 1px 6px 15px rgba(0,0,0,0.5);
	background: #B0BEC5;
}
.social-btn-link:nth-child(2) .social-btn-icon {
	background: url('../img/icon/web_png/material_social_icon_set.png') no-repeat 1.5% 50%;	
}
.social-btn-link:nth-child(3) .social-btn-icon {
	background: url('../img/icon/web_png/material_social_icon_set.png') no-repeat 15.5% 50%;	
}
.social-btn-link:nth-child(4) .social-btn-icon {
	background: url('../img/icon/web_png/material_social_icon_set.png') no-repeat 29.5% 50%;	
}
.social-btn-link:nth-child(5) .social-btn-icon {
	background: url('../img/icon/web_png/material_social_icon_set.png') no-repeat 57% 50%;	
}
.social-btn-link:nth-child(6) .social-btn-icon {
	background: url('../img/icon/web_png/material_social_icon_set.png') no-repeat 43.5% 50%;	
}
.social-btn-link:nth-child(7) .social-btn-icon {
	background: url('../img/icon/web_png/material_social_icon_set.png') no-repeat 80% 50%;	
}

.main-footer {	
	height: 50px;
	background: grey;
}
.main-footer p {
	text-align: center;
}
.main-footer::before {
	background-color: #424242;
}

/*-----------------------------------------*/
/*------====== EXPERIENCE PAGE ======------*/
/*-----------------------------------------*/

/*-------------------------------------*/
/*------====== SKILLS PAGE ======------*/
/*-------------------------------------*/
.skills__container {
  padding: 0 90px 30px 90px;
	min-height: 100px;
	overflow: hidden;
}
.skill__type_name {
	font-size: 24px;
	font-weight: 400;
	text-transform: none;
	color: #313131; 
}
.skill__card {
	width: 100px;
  height: 140px;
  background: #f5f5f5;
  margin: 0 10px 10px 0;
  display: inline-block;
  text-align: center;
  overflow: hidden;
}
.skill__card--image {
	min-height: 100px;
	min-height: 100px;
	max-width: 100px;
  max-height: 100px;
  position: relative;
  z-index: 1;  

}
.skill__card--image img {
  max-width: 100px;
  max-height: 100px;
}
.skill-card--footer {
  width: 100px;
  height: 40px;
  padding: 8px 0 8px 0;
  text-align: center;
  text-transform: none;
  line-height: 21px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(97,97,97);
}
